.time-box{
    display: flex;
    gap:2rem;
}
.weather{
    background-image: url('../../assets/Day2/sunset.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;

    &__container{
            display: flex;
            width:30%;
            justify-content: center;
            align-items: center;
            background-color: #20b2aa;
            flex-direction: column;
            border-radius: 2rem;
            margin: 3rem;
            padding: 1rem;
            backdrop-filter: blur(16px) saturate(176%);
            -webkit-backdrop-filter: blur(16px) saturate(176%);
            background-color: rgba(32, 178, 170, 0.17);
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.125);
        }
        &__search-box{
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }
        &__input{
       
            padding-left: 25px;
            font-size: 16px;
            height: 50px;
            width: 40%;
            border: none;
            border-radius: 40px;
            outline: none;
            transition: border-color 0.3s ease;
            color:#626262;
            background: #ebfffc;
    }
    &__searchicon{
        border-radius: 50%;
        width:2rem;
        padding: 0.5rem;
        cursor: pointer;
        background-color: #ebfffc;
    }
    
    &__icons{
        width: 1rem;
        height: 1rem;
    }
    &__bg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
