.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    background-color: aquamarine;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.project-link{
    text-decoration: none;
}
.title{
    color: rgb(7, 58, 32);
}