.jokes{
    // background-image: url('../../assets/Day6/bg6.jpg');
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    &__container{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 5rem;  
        background-color: azure;
    }
    &__category-list{
        list-style: none;
        padding: 5px;
        cursor: pointer;
    }
    &__category{
        background-color: burlywood;
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }
    &__random{
        
       
    }
}