.project-card{
    background-color:cadetblue;
    color: darkmagenta;
    text-decoration: none;
    width: 25rem;
    height: 15rem;
    padding: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 2rem;
}